<% list.each(function (show) { %>
<li id="tv" data-id="<%= show.id %>" class="group">	
	<a class="result" href="/tv/<%= show.id %>">
		<img src="<%= show.escape("photo_thumb") %>">
	</a>
	
	<div class="watchlist-info">
		<a href="/tv/<%= show.id %>"><%= show.escape("title") %></a>
		<div id="statuses-container"></div>
		<a class="blank" href="/tv/<%= show.id %>"> </a>
	</div>
	
	<% if (isThisUser) { %>
	<strong class="x">&times;</strong>	
		
	<div class="delete-view">
		<div class="watchlist-delete">
			<p>Remove from list?</p>
			<button id="cancel">Cancel</button>
			<button id="delete">Remove</button>
		</div>
	</div>
	<% } %>
</li>
<% }) %>