<% unless current_user.watchlist_shows.exists?(tv.id) %>
  <ul class="watch_dropdown">
    <li><strong>Add to Watchlist</strong></li>
    
    <% ["Currently Watching", "Plan to Watch"].each do |status| %>
      <li>
        <form action="<%= tv_watchlist_url(tv) %>" method="post">
          <%= form_auth %>
          <input type="hidden" 
                 name="watchlist[status]" 
                 value="<%= status %>">
               
          <button><%= status %></button>
        </form>
      </li>
    <% end %>
  </ul>
<% else %>
  <% watchlist = current_user.watchlists.find_by(tv_show_id: tv.id) %>
  
  <form action="<%= update_watchlist_url(watchlist) %>" method="post">
    <%= form_auth %>
    <input type="hidden" name="_method" value="put">
    
    <select name="watchlist[status]">
      <% Watchlist::STATUSES.each do |status| %>
        <option value="<%= status %>" <%= 'selected' if watchlist.status == status %>><%= status %></option>
      <% end %>
    </select>
    
    <button>Change status</button>
  </form>
  
  <br>
<% end %>