<h1><%= @user.username %>'s Watchlist</h1>

<%= render partial: "users/profilenav", locals: { location: "Watchlist" } %>

<section class="profile">

<% Watchlist::STATUSES.each do |status| %>

  <h2 id="<%= status.split(" ").first %>"><%= status %></h2>
  <%= render partial: "nav", locals: { location: status } %>

  <ul class="show-list">
    <% @watchlist.where(watchlists: { status: status }).each do |show| %>
      <li><%= render partial: "result", locals: { tv: show } %></li>
    <% end %>
  </ul>

<% end %>


</section>