<%= render partial: "users/profilenav" %>

<h1>My Watchlist</h1>

<% Watchlist::STATUSES.each do |status| %>

  <h2 id="<%= status.split(" ").first %>"><%= status %></h2>
  <%= render partial: "nav", locals: { location: status } %>

  <ul>
    <% @watchlist.where(watchlists: { status: status }).each do |show| %>
      <li><%= render partial: "searches/result", locals: { tv: show } %></li>
    <% end %>
  </ul>
  
<% end %>


