<ul class="profile">
  <li>Watchlist</li>
  <li>Favorites</li>
  <li>Friends</li>
</ul>

<h1>My Watchlist</h1>

<% Watchlist::STATUSES.each do |status| %>

  <h2 id="<%= status.split(" ").first %>"><%= status %></h2>
  <%= render partial: "nav", locals: { location: status } %>

  <ul class="<%= status.split(" ").first %>_watchlist">
    <% @watchlist.where(watchlists: { status: status }).each do |show| %>
    
      <li><%= render partial: "searches/result", locals: { tv: show } %></li>
    <% end %>
  </ul>
  
<% end %>


