<h1><%= user.escape("username") %></h1>

<section class="wall">
	
	<% if (signedIn) { %>
	<form id="post-form">
		<textarea name="post[body]"></textarea>
		
		<label>
			Tag a show:
			<select name="post[tv_show_id]">
				<option value=""></option>
				
				<% _(userShowlist).each(function (show) { %>
				<option value="<%= show.id %>"><%= show.escape("title") %></option>
				<% }) %>
			</select>
		</label>
		
		<input type="submit" value="Submit">
	</form>
	<% } %>
	
	<h2>Posts</h2>
	
	<% if (posts.length > 0) { %>
	<ul class="posts">
		<% posts.each(function (post) { %>
		<li data-id="<%= post.id %>" class="group">
			<div class="post-info">
				<p class="body"><%= post.escape("body") %></p>
			
				<% var timeAgo = $.timeago(post.escape("created_at")) %>
				<p>
					<span class="time"><%= timeAgo %></span>
			
					<% var tv = CONZQ.all_shows.getOrFetch(post.escape("tv_show_id")) %>
			
					<% if (tv) { %>
					<a href="/tv/<%= tv.id %>"><%= tv.escape("title") %></a>
					<% } %>
			
				</p>
			</div>
						
			<strong class="x">&times;</strong>
		</li>
		<% }) %>
	</ul>
	<% } else { %>
		<p>No posts.</p>
	<% } %>
	
</section>