<div class="tv-show-page-container">
<h1><%= tv.escape("title") %></h1>

<img src=<%= tv.escape("photo_big") %>>

<ul>
  <li>
    <strong>Genre(s):</strong>
    <%= tv.escape("genres") %>
  </li>

  <li>
    <strong>IMDB rating:</strong>
    <%= tv.escape("rating") %>
  </li>

  <li>
    <strong>Network:</strong>
    <%= tv.escape("network") %>
  </li>

  <li>
    <%= tv.escape("seasons") %> seasons, <%= tv.escape("year_start") %> -
    <%= tv.escape("year_end") === "" ? "present" : tv.escape("year_end") %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= tv.escape("status") %>
  </li>

  <li class="main-blurb">
    <%= tv.escape("blurb") %>
  </li>
</ul>
</div>