<form class="tv-form" action="<%= action_url %>" 
			method="post" enctype="multipart/form-data">
  <%= form_auth %>

  <% if put %>
  <input type="hidden" name="_method" value="put">
  <% end %>

  <label for="tv_title">Title:</label>
  <input id="tv_title" type="text" name="tv[title]" value="<%= @tv.title %>">

  <label for="tv_photo">Photo:</label>
	<% unless @tv.photo.url =~ /missing/ %>
	<img src="<%= @tv.photo.url(:medium) %>">
	<% end %>
  <input id="tv_photo" type="file" name="tv[photo]">

  <label>Genre(s):</label>
  <div class="genre-form" data-id="<%= @tv.id %>"></div>

  <label for="tv_network">Network: (please abbreviate)</label>
  <input id="tv_network" type="text" 
				 name="tv[network]" value="<%= @tv.network %>">

  <label for="tv_seasons"># of seasons:</label>
  <input id="tv_seasons" type="text" 
				 name="tv[seasons]" value="<%= @tv.seasons %>">

  <label for="tv_year_start">Year Start:</label>
  <input id="tv_year_start" type="text" 
				 name="tv[year_start]" value="<%= @tv.year_start %>">

  <label for="tv_year_end">Year End: (leave blank if currently airing)</label>
  <input id="tv_year_end" type="text" 
				 name="tv[year_end]" value="<%= @tv.year_end %>">

  <label for="tv_status">Status:</label>
  <select id="tv_status" name="tv[status]">
    <option value=""></option>

    <% TvShow::STATUSES.each do |status| %>
    <option value="<%= status %>" <%= 'selected' if @tv.status == status %>>
    	<%= status %>
		</option>
    <% end %>
  </select>

  <label for="tv_blurb">Summary:</label>
  <textarea id="tv_blurb" name="tv[blurb]"><%= @tv.blurb %></textarea>

  <center><button><%= button_text %></button></center>
</form>