<form action="<%= action_url %>" method="post" enctype="multipart/form-data">
  <%= form_auth %>

  <% if put %>
    <input type="hidden" name="_method" value="put">
  <% end %>

  <label>
    Title:<br>
    <input type="text" name="tv[title]" value="<%= @tv.title %>">
  </label>
  <br>

  <label>
    Photo:<br>
		<% unless @tv.photo.url =~ /missing/ %>
			<img src="<%= @tv.photo.url(:medium) %>">
			<br>
		<% end %>

    <input type="file" name="tv[photo]">
  </label>
  <br>

  Genre(s):<br>
  <div class="genre-form">
    <div class="top-level-left">
      <input type="checkbox"
             id="Scripted"
             name="genre_ids[]"
             value="10"
             <%= 'checked' if @tv.genre_names.include?("Scripted") %>>
      <label for="Scripted">Scripted</label>
    </div>

    <div class="top-level-right">
      <input type="checkbox"
             id="Unscripted"
             name="genre_ids[]"
             value="13"
             <%= 'checked' if @tv.genre_names.include?("Unscripted/Reality") %>>
      <label for="Unscripted">Unscripted/Reality</label>
    </div>

    <div class="top-level-left">
      <input type="checkbox"
             id="Live-Action"
             name="genre_ids[]"
             value="6"
             <%= 'checked' if @tv.genre_names.include?("Live-Action") %>>
      <label for="Live-Action">Live-Action</label>
    </div>

    <div class="top-level-right">
      <input type="checkbox"
             id="Animated"
             name="genre_ids[]"
             value="2"
             <%= 'checked' if @tv.genre_names.include?("Animated") %>>
      <label for="Animated">Animated</label>
    </div>

    <div class="sub-genre">
      <input type="checkbox"
             id="Drama"
             name="genre_ids[]"
             value="5"
             <%= 'checked' if @tv.genre_names.include?("Drama") %>>
      <label for="Drama">Drama</label>
    </div>

    <div class="sub-genre">
      <input type="checkbox"
             id="Comedy"
             name="genre_ids[]"
             value="3"
             <%= 'checked' if @tv.genre_names.include?("Comedy") %>>
      <label for="Comedy">Comedy</label>
    </div>

    <div class="sub-genre">
      <ul>
        <li>
          <input type="checkbox"
                 id="Procedural"
                 name="genre_ids[]"
                 value="8"
                 <%= 'checked' if @tv.genre_names.include?("Procedural") %>>
          <label for="Procedural">Procedural</label>
        </li>

        <li>
          <input type="checkbox"
                 id="Serialized"
                 name="genre_ids[]"
                 value="11"
                 <%= 'checked' if @tv.genre_names.include?("Serialized") %>>
          <label for="Serialized">Serialized</label>
        </li>
      </ul>
    </div>

    <div class="sub-genre">
      <ul>
        <li>
          <input type="checkbox"
                 id="Single-camera"
                 name="genre_ids[]"
                 value="15"
                 <%= 'checked' if @tv.genre_names.include?("Single-camera") %>>
          <label for="Single-camera">Single-camera</label>
        </li>

        <li>
          <input type="checkbox"
                 id="Multi-camera"
                 name="genre_ids[]"
                 value="16"
                 <%= 'checked' if @tv.genre_names.include?("Multi-camera") %>>
          <label for="Multi-camera">Multi-camera</label>
        </li>
      </ul>
    </div>

    <div class="rest-genres">
      <% @genres.each do |genre| %>
        <div class="checkbox">
          <input type="checkbox"
                 id="<%= genre.name %>"
                 name="genre_ids[]"
                 value="<%= genre.id %>"
                 <%= 'checked' if @tv.genre_names.include?(genre.name) %>>
          <label for="<%= genre.name %>"><%= genre.name %></label>
        </div>
      <% end %>
    </div>
  </div>

  <label>
    Network: (please abbreviate)<br>
    <input type="text" name="tv[network]" value="<%= @tv.network %>">
  </label>
  <br>

  <label>
    # of seasons:
    <input type="text" name="tv[seasons]" value="<%= @tv.seasons %>">
  </label>
  <br>

  <label>
    Year Start:<br>
    <input type="text" name="tv[year_start]" value="<%= @tv.year_start %>">
  </label>
  <br>

  <label>
    Year End: (leave blank if currently airing)<br>
    <input type="text" name="tv[year_end]" value="<%= @tv.year_end %>">
  </label>
  <br>

  <label>
    Status:
    <select name="tv[status]">
      <option value=""></option>

      <% TvShow::STATUSES.each do |status| %>
        <option value="<%= status %>"
                <%= 'selected' if @tv.status == status %>>
                <%= status %></option>
      <% end %>
    </select>
  </label>
  <br>

  <label>
    Summary:<br>
    <textarea name="tv[blurb]"><%= @tv.blurb %></textarea>
  </label>
  <br>

  <button><%= button_text %></button>
</form>