<form action="<%= action_url %>" method="post">
  <%= form_auth %>
  
  <% if put %>
    <input type="hidden" name="_method" value="put">
  <% end %>
  
  <label>
    Title:<br>
    <input type="text" name="tv[title]" value="<%= @tv.title %>">
  </label>
  <br>
  
  <label>
    Photo:<br>
    <input type="text" name="tv[photo]" value="<%= @tv.photo %>">
  </label>
  <br>
  
  Genre(s):<br>
  <% @genres.each do |genre| %>
    <input type="checkbox" 
           id="<%= genre.name %>" 
           name="genre_ids[]" 
           value="<%= genre.id %>"
           <%= 'checked' if @tv.genre_names.include?(genre.name) %>>
    <label for="<%= genre.name %>"><%= genre.name %></label>
  <% end %>
  <br>
  
  <label>
    Network:<br>
    <input type="text" name="tv[network]" value="<%= @tv.network %>">
  </label>
  <br>
  
  <label>
    # of seasons:
    <input type="text" name="tv[seasons]" value="<%= @tv.seasons %>">
  </label>
  <br>
  
  <label>
    Year Start:<br>
    <input type="text" name="tv[year_start]" value="<%= @tv.year_start %>">
  </label>
  <br>
  
  <label>
    Year End: (leave blank if currently airing)<br>
    <input type="text" name="tv[year_end]" value="<%= @tv.year_end %>">
  </label>
  <br>
  
  <label>
    Status:
    <select name="tv[status]">
      <option value=""></option>
      
      <% TvShow::STATUSES.each do |status| %>
        <option value="<%= status %>"
                <%= 'selected' if @tv.status == status %>>
                <%= status %></option>
      <% end %>
    </select>
  </label>
  <br>
  
  <label>
    Summary:<br>
    <textarea name="tv[blurb]"><%= @tv.blurb %></textarea>
  </label>
  <br>
  
  <button><%= button_text %></button>
</form>