<div class="tv-show-page-container">
	<h1>
		<%= @tv.title %>
	
		<% if current_user == @tv.admin %>
		<a class="edit-profile tv" href="<%= edit_tv_url(@tv) %>">Edit Info</a>
		<% end %>
	</h1>

	<div id="tv-show-page-statuses" data-id="<%= @tv.id %>"></div>

	<img src="<%= @tv.photo.url(:big) %>">
	
	<section class="tv-info-container group">
		<ul class="tv-info-left">
		  <li>
		    <strong>Genre(s):</strong>
		    <%= @tv.genre_names.join(", ") %>
		  </li>

		  <li>
		    <strong>IMDB rating:</strong>
		    <%= @tv.rating %>
		  </li>

		  <li>
		    <strong>Network:</strong>
		    <%= @tv.network %>
		  </li>

		  <li>
		    <%= @tv.seasons %> seasons, <%= @tv.year_start %> -
		    <%= @tv.year_end.nil? ? "present" : @tv.year_end %>
		  </li>

		  <li>
		    <strong>Status:</strong>
		    <%= @tv.status %>
			</li>
		</ul>

	  <div class="tv-info-right">
	    <p><%= @tv.blurb %></p>
		</div>
	</section>
</div>








<!-- TV SHOW CSS -->

// SHOW PAGE
.tv-show-page-container {
  width: 650px;
  margin: auto;
  margin-bottom: 20px;
}

.edit-profile.tv {
	position: relative;
	bottom: 8px;
	display: inline-block;
}

.tv-show-page-container > img {
	margin: auto;
}

.tv-info-container {
	position: relative;
	margin-top: 30px;
}

.tv-info-left {
	float: left;
	width: 190px;
	padding: 10px;
	border: 1px solid #ccc;
}

.tv-info-left > li {
  padding: 10px 0;
}

.tv-info-left strong {
	font-weight: 500;
}

.tv-info-right {
	position: absolute;
	right: 0;
	width: 420px;
	height: 100%;
  font-size: 20px;
}

.tv-info-right > p {
	padding: 20px 40px;
	font-style: italic;
	line-height: 1.2;
	background: #D2EDFA;
}