<h1><%= @tv.title %></h1>

<% if current_user == @tv.admin %>
<a href="<%= edit_tv_url(@tv) %>">Edit Info</a>
<br>
<% end %>

<%= render partial: "layouts/error" %>

<%= render partial: "watchlists/status", locals: { tv: @tv } %>
<%= render partial: "favorites/status", locals: { tv: @tv } %>

<% if @tv.photo %>
  <img class="main_tv_image" src="<%= @tv.photo %>">
<% end %>

<ul>
  <li>
    <strong>Genre(s):</strong>
    <%= @tv.genres.order(:name).pluck(:name).join(", ") %>
  </li>
  
  <li>
    <strong>IMDB rating:</strong>
    <%= @tv.rating %>
  </li>
  
  <li>
    <strong>Network:</strong>
    <%= @tv.network %>
  </li>
  
  <li>
    <%= @tv.seasons %> seasons, <%= @tv.year_start %> -
    <%= @tv.year_end.nil? ? "present" : @tv.year_end %>
  </li>
  
  <li>
    <strong>Status:</strong>
    <%= @tv.status %>
  </li>
  
  <li>
    <strong>Plot:</strong>
    <%= @tv.blurb %>
  </li>
</ul>
