<section class="post-left">
	<div class="post-info">
		<p class="post-body"><%= post.escape("body") %></p>
	
		<ul class="post-bottom group">
			<li id="view-comments" class="comment-link">
				Comments (<%= post.comments().length %>)
			</li>
		
			<% var createdAt = $.timeago(post.escape("created_at")) %>
			<li class="time"><%= createdAt %></li>
		
			<% if (post.escape("tv_show_id")) { %>	
			<% var tv = CONZQ.allShows.getOrFetch(post.escape("tv_show_id")) %>
			<li><a href="/tv/<%= tv.id %>"><%= tv.escape("title") %></a></li>
			<% } %>
		</ul>
	</div>
	
	<% if (signedIn) { %>
	<form id="comment-form">
		<textarea name="comment[body]"></textarea>
		
		<div class="comment-form-bottom">
			logged in as <strong><%= CONZQ.currentUser.escape("username") %></strong>
			<input type="submit" value="Submit">
		</div>
	</form>
	<% } %>
	
	<% if (isThisUser) { %>
	<div class="delete-view">
		<div class="post-delete">
			<p>Delete post?</p>
			<button id="cancel-post">Cancel</button>
			<button id="delete-post">Delete</button>
		</div>
	</div>
	<% } %>
</section>

<section class="comments-right"></section>

<strong class="x">&times;</strong>




<!-- CLEAR HIGHLIGHT ON DOUBLE CLICK -->
<script type="text/javascript">
document.ondblclick = function(evt) {
    if (window.getSelection)
        window.getSelection().removeAllRanges();
    else if (document.selection)
        document.selection.empty();
}
</script>