<a href="/#/users/<%= user.id %>">
	<img src="<%= user.photo.url(:thumb) %>">
</a>

<ul class="user-info">
	<li class="username">
		<a href="/#/users/<%= user.id %>"><%= user.username %></a>
	</li>
	
	<li>
		<a href="/#/users/<%= user.id %>">
			currently watching
			<strong><%= user.currently_watching_shows.count %></strong> shows
		</a>
	</li>
	
	<li>
		<a href="/#/users/<%= user.id %>">
			<span class="heart"></span>
			<p><%= user.favorites.count %> favorite shows</p>
		</a>
	</li>
</ul>
