<h3><a class="show-result" href="#/tv/<%= tv.id %>">
	<%= tv.title %>
</a></h3>

<ul class="statuses group">
	<li id="watchlist">
		<ul class="watchlist-statuses">
			<% TvShow::STATUSES.each do |status| %>
				<li id="status" data-id="<%= status %>"><%= status %></li>
			<% end %>
		</ul>
	</li>

	<li id="favorite"></li>
	<li id="message"></li>
</ul>

<a class="show-result" href="#/tv/<%= tv.id %>">
<div class="result-info group">
  <img src="<%= tv.photo.url(:medium) %>">

  <ul>
    <li class="rating">
      <strong>IMDB rating:</strong>
      <%= tv.rating %>
    </li>

    <% tv.genre_names.each do |genre| %>
    <li class="result-genre"><%= genre %></li>
    <% end %>
  </ul>
</div>

<div class="blurb">
  <p><%= tv.blurb %></p>
</div>
</a>