<a class="fill" href="/tv/<%= tv.id %>"></a>

<div class="result-container">
	
<h3><a class="show-result" href="/tv/<%= tv.id %>">
	<%= tv.title %>
</a></h3>

<div id="statuses-container"></div>

<a class="show-result" href="/tv/<%= tv.id %>">
<div class="result-info group">
  <img src="<%= tv.photo.url(:medium) %>">

  <ul>
    <li class="rating">
      <strong>IMDB rating:</strong>
			<%= tv.rating %>
    </li>
		
		<% tv.genre_names.each do |genre| %>
    <li class="result-genre"><%= genre %></li>
		<% end %>
  </ul>
</div>

<div class="blurb">
  <p><%= tv.blurb %></p>
</div>
</a>

</div>