<h1>Your Results</h1>

<div class="header-links-container param group">
  <ul class="header-links">
    <%- @search_param_names.each_with_index do |param, i| -%>
      <%- if i == 0 -%>
        <li class="param first">
      <%- else -%>
        <li class="param">
      <%- end -%>
        <%- if param.is_a?(Integer) || param =~ /["0-9"]/ -%>
          '<%= param == 0 ? "00" : param %>s
        <%- else -%>
          <%= param %>
        <%- end -%>
      </li>
    <%- end -%>
  </ul>

	<center><a href="<%= new_search_url %>">Make a new search</a></center>
</div>



<% if @query.nil? || @query.empty? %>
  <section class="results"><h3>No results! :(</h3></section>
<% else %>

  <div class="sort-by">
    <form action="<%= sort_url(@search_params) %>" method="post">
      <%= form_auth %>

      <label>
        Sort by:<br>
        <select name="comparator[sort_by]">
          <option value=""></option>
          <% SearchesHelper::SORT_BY.each do |sort| %>
            <option value="<%= sort %>" <%= 'selected' if @comparator == sort %>><%= sort %></option>
          <% end %>
        </select>
      </label>

      <button>Select</button>
    </form>
  </div>

	<section class="results">
	  <ul>
	    <% @query.each do |result| %>
	      <li><%= render partial: "result", locals: { tv: result } %></li>
	    <% end %>
	  </ul>
	</section>
<% end %>