<h3><a class="show-result" href="#/tv/<%= tv.id %>">
	<%= tv.title %>
</a></h3>

<div id="statuses-container"></div>

<a class="show-result" href="#/tv/<%= tv.id %>">
<div class="result-info group">
  <img src="<%= tv.photo_medium %>">

  <ul>
    <li class="rating">
      <strong>IMDB rating:</strong>
      <%= tv.rating %>
    </li>

    <% _(tv.genre_names).each(function (genre) { %>
    <li class="result-genre"><%= genre %></li>
    <% }) %>
  </ul>
</div>

<div class="blurb">
  <p><%= tv.blurb %></p>
</div>
</a>