<a class="fill" href="/tv/<%= tv.id %>"></a>

<div class="result-container">
	
<h3><a class="show-result" href="/tv/<%= tv.id %>">
	<%= tv.title || tv.escape("title") %>
</a></h3>

<div id="statuses-container"></div>

<a class="show-result" href="/tv/<%= tv.id %>">
<div class="result-info group">
  <img src="<%= tv.photo_medium || tv.escape("photo_medium") %>">

  <ul>
    <li class="rating">
      <strong>IMDB rating:</strong>
			<% if (tv.rating) { %>
				
			<%= tv.rating.toFixed(1) %>
			
			<% } else { %>
				
	      <% if (String(tv.escape("rating")).length === 1) { %>
				<%= tv.escape("rating") %>.0
				<% } else { %>
				<%= tv.escape("rating") %>
				<% } %>
			
			<% } %>
    </li>
		
		<% if (tv.genre_names) { %>
			
			<% _(tv.genre_names).each(function (genre) { %>
		    <li class="result-genre"><%= genre %></li>
	    <% }) %>
			
		<% } else { %>
			
	    <% _(tv.get("genre_names")).each(function (genre) { %>
		    <li class="result-genre"><%= genre %></li>
	    <% }) %>
			
		<% } %>
	    
  </ul>
</div>

<div class="blurb">
  <p><%= tv.blurb || tv.escape("blurb") %></p>
</div>
</a>

</div>