<form id="search">
  <h2>Quick Search</h2>

  <ul class="decades group">
    <li class="header">
      <h3>Decades</h3>
    </li>

    <% for (var id in decades) { %>
    <li class="query" data-id="<%= id %>">
      <label>
        <input type="checkbox" name="search[decade_ids][]" value="<%= id %>">
        '<%= decades[id] %>s
      </label>
    </li>
    <% } %>

    <li class="query" data-id="current">
      <label>
        <input type="checkbox" name="search[status]" value="Current">
        Now
      </label>
    </li>
  </ul>

  <ul class="genres group">
    <li class="header">
      <h3>Most Popular Genres</h3>
    </li>

    <% for (var id in genres) { %>
    <li id="genre" data-id="<%= id %>">
      <label>
        <i class="fa fa-check"></i>
        <input type="checkbox" name="search[genre_ids][]" value="<%= id %>">
        <%= genres[id] %>
      </label>
    </li>
    <% } %>
  </ul>

  <input type="submit" value="Search">

  <a href="#">More search options</a>
</form>
