<header class="header">
	<section class="group">
		<a class="logo" href="#">CONZQ</a>

		<ul class="nav">
			<li><a class="discover" href="#">Discover</a></li>
			<li class="search">
				<a id="search" href="#">Search</a>
				
				<div class="search-input">
					<form action="<%= text_search_url %>" method="get">
						<input type="text" name="query" value="<%= params[:query] %>">
					</form>
				</div>
			</li>
			
			<% if signed_in? %>
			<li><a href="/#/users/<%= current_user.id %>">
				<%= current_user.username %>
			</a></li>
				
			<li class="signed-in">	
				<p class="triangle" href="#">▼</p>

				<ul class="profile-dropdown">
					<% if current_user.admin %>
					<li>
						<a href="<%= tv_shows_url %>">My Series</a>
					</li>
					
					<li>
						<a href="<%= new_tv_url %>">Add a Series</a>
					</li>
					<% end %>
					
					<li>
						<a href="/#/users/<%= current_user.id %>">My Profile</a>
					</li>
					
					<li>
						<a href="#">Settings</a>
					</li>
					
					<li>
						<%= link_to "Logout", session_url, method: "delete" %>
					</li>
				</ul>
			</li>
			<% else %>
			
			<li><a href="<%= new_session_url %>">Sign In</a></li>
			<li><a href="<%= new_user_url %>">Create an account</a></li>
			
			<% end %>
		</ul>
	</section>
</header>