<!DOCTYPE html>
<html>
<head>
  <title>Clickster</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/nav" %>

<main class="container">
  <!-- SIDEBAR -->

  <section class="content">
    <%= render partial: "shared/error" %>

    <%= yield %>
  </section>
</main>

<% if current_user %>
<script>
  window.currentUser = { id: <%= current_user.id %> };
</script>
<% end %>


<script>
$(document).ready(function(){
  var $container = $("main.container");
  var $sidebar = $("<section>").addClass("sidebar");
  var $main = $("section.content");

  // BACKBONE
  CONZQ.initialize($container, $sidebar, $main);

  // EXTRA
  $("abbr.timeago").timeago();

  $("input#text-search").on("focus", function () {
    $(this).val("");
  });

  $("a#discover").on("click", function () {
    event.preventDefault();
    $container.toggleClass("open");
  });

});
</script>
</body>
</html>
