<!DOCTYPE html>
<html>
<head>
  <title>CONZQ</title>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav group">
<% if signed_in? %>
  <h1>my name is <%= current_user.username %></h1>

	<ul>
  	<li><a href="<%= new_search_url %>">New Search</a></li>

  <% if current_user.admin %>
    <li><a href="<%= tv_shows_url %>">My Series</a></li>
    <li><a href="<%= new_tv_url %>">Add a Series</a></li>
  <% end %>

  <li><a href="<%= user_watchlists_url(current_user) %>">My Profile</a></li>

  <li><%= link_to "Logout", session_url, method: "delete" %></li>
<% else %>
	<ul>
	  <li><a href="<%= new_session_url %>">Sign In</a></li>
	  <li><a href="<%= new_user_url %>">Register</a></li>
<% end %>
	</ul>
</div>

<%= yield %>

</body>
</html>
