<!DOCTYPE html>
<html>
<head>
  <title>CONZQ</title>
	<link href='http://fonts.googleapis.com/css?family=Fira+Sans:300,500' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
	
	<header class="header">
		<section class="group">
			<a class="logo" href="#">CONZQ</a>

			<ul class="nav">
				<li><a class="discover" href="#">Discover</a></li>
				
				<% if signed_in? %>
				<li class="signed-in">
					<a class="profile-link" href="<%= user_url(current_user) %>">
						<%= current_user.username %>
					</a>
					
					<ul class="profile-dropdown">
						<% if current_user.admin %>
						<li>
							<a href="<%= tv_shows_url %>">My Series</a>
						</li>
						
						<li>
							<a href="<%= new_tv_url %>">Add a Series</a>
						</li>
						<% end %>
						
						<li>
							<a href="<%= user_url(current_user) %>">My Profile</a>
						</li>
						
						<li>
							<a href="#">Settings</a>
						</li>
						
						<li>
							<%= link_to "Logout", session_url, method: "delete" %>
						</li>
					</ul>
				</li>
				<% else %>
				
				<li><a href="<%= new_session_url %>">Sign In</a></li>
				<li><a href="<%= new_user_url %>">Create an account</a></li>
				
				<% end %>
			</ul>
		</section>
	</header>

<main class="container">
	<!-- SIDEBAR -->
	
	<section class="main"><%= yield %></section>
</main>

<% if current_user %>
<script>
	window.currentUser = { id: <%= current_user.id %> };
</script>
<% end %>


<script>
$(document).ready(function(){
	var $container = $("main.container");
	var $sidebar = $("<section>").addClass("sidebar");
	var $main = $("section.main");


  CONZQ.initialize($container, $sidebar, $main);
	
	<% if session[:sidebar] == "true" %>
	$container.addClass("open");
	<% end %>
	
	
	$("a.discover").on("click", function () {
		$container.toggleClass("open");
		
		// if $container hasClass open 
		// session[:sidebar] == true
		// else session[:sidebar] == false
	});
	
});
</script>
</body>
</html>
